* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height:100vh;
    overflow: scroll
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#floe-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 10px;
    font-family: sans-serif;
    height: 50px;
    position:fixed;
    top: 0;
}

#floe-nav li {
    list-style-type: none;
    text-decoration: none;
}

.scroll-container {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100vw;
}

.landing-page-img {
    width: 100%;
}

.old-site {
    background-color: white;
    background: white;
    background-size: 100vw;
    width: 50%;
    background-repeat: no-repeat;
    border-right: 4px solid #00c1ff;
    box-shadow: 0px 1px 7px #00c1ff;
    
}

#old-nerr {
    background-image: url("./assets/old-nerr.jpg");  
    height: 500%;
}

#old-neuro {
    background-image: url("./assets/old-neuro.jpg");  
    height: 600%;
}

#old-miracles {
    background-image: url("./assets/miracles-old.jpg");  
    height: 550%;
}

#floe-nav {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100px;
    background: white;
    display: flex;
}

#floe-nav li:hover {
    cursor: pointer;
}

#old-floe-home {
    background-image: url("./assets/old-floesafe-home.jpg");
    height: 550%;
}

#old-floe-about {
    background-image: url("./assets/old-floesafe-about.jpg");
    height: 450%;
}

#old-floe-contact {
    background-image: url("./assets/old-floesafe-contact.jpg");
    height: 200%;
}

#old-floe-product {
    background-image: url("./assets/old-floesafe-product.jpg");
    height: 500%;
}

.new-nerr {
    background-image: url("./assets/new-nerr.jpg");
    background-size: 100vw;
}

.new-img {
    width: 100vw;
    height: 100%
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00c1ff;
    position: sticky;
    top:50vh;
}

.hidden {
    display: none;
}

