* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F3E8E0;
  
}

main {
  font-family: 'Montserrat';
}



.primary-btn {
  background-color: dodgerblue;
  text-decoration: none;
  border: none;
  border-bottom: 3px solid rgb(0, 96, 192);
  border-radius: 15px;
  padding: 5px;
  overflow: hidden;
  width: 150px;
  margin-right: 25px;
}

.secondary-btn {
  background-color: rgb(0, 208, 38);
  border-bottom: 3px solid rgb(0, 167, 31);
  font-size: 0.8rem;
  color: white;
}

.primary-btn a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3e8e076;;
  padding: 10px 25px;
}



header img {
  height: 100%;
  width: auto
}

header ul {
  display: flex;
}

header li {
  list-style-type: none;
  
}

header a {
  color: black;
  text-decoration: none;
  margin-left: 50px;
  font-weight: 400;
}

header a:hover {
  text-decoration: underline;
}

.resume-link {
  padding: 5px;
  border: 1px solid black;
  background-color: #113361;
  color: white;

}

.resume-link:hover {
  cursor: pointer;
  background-color: transparent;
  color: black;
  transition: .5s;
  text-decoration: none;
}

.resume-container {
  position:fixed;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background: rgb(5, 4, 67);
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
  opacity: 100%;
}

#resume-close-btn {
  font-family: 'Montserrat',sans-serif;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 3rem;
  font-weight: 600;
  color: rgb(141, 141, 141);
  z-index: 58;
}

#resume-close-btn:hover {
  cursor: pointer;
}

.resume {
width: 90vw;
max-width: 800px;
height: auto;
position: absolute;
top: 0;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-section h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.navy {
  color: #113361;
}

.face-img {
  height: 80vh;
  width: auto;
}

/* Intro/skills */
.wavy-line {
  width: 100vw;
  height: auto;
  transform: translateY(10px);
}
.introduction-container {
  background: white;
  color: black;
  padding: 0px 50px 75px 50px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width:1200px;
  transform: translateY(-25px);
}

.introduction h2 {
  margin-bottom: 25px;
}

.introduction-container img {
  width: 50%;
  height: auto;
}

.introduction-container p {
  line-height: 24px;
  font-weight: 200;
  font-size: 18px;
}

.intro-info {
  width: 50%
}

.intro-info h2 {
  margin-bottom: 25px;
  font-size: 2.25rem;
}

.skills-container {
  background: #e0ebf3;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 100px;
  gap: 10px;
}

.skill-box {
  background: white;
  width: 500px;
  border-radius: 15px;
  overflow: hidden;
}

.skill-info {
  padding: 25px;
}

.skill-box h2 {
  width: 100%;
  color: white;
  background: #113361;
  text-align: center;
  padding:25px;
  font-size: 2rem;
}

.designer-container h2 {
  font-family: 'alex brush';
}

.developer-container h2 {
  font-family: 'cousine';
}



/* Jobs Section */
.job-container {
  background: #ffffff;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.container > h2 {
  margin-bottom: 25px;
  font-size: 2.25rem;
}

.job-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  max-width: 1000px;
  gap: 15px;
  margin: 0 auto
  
}

.job-cell {
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 1px 7px #00000030;
}

.job-cell:hover {
  cursor: pointer;
  transition: 0.5s;
  border-radius: 0px;
}

.job-header-bg {
  color: white;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.job-header {
  background-color: rgba(0, 0, 0, 0.45);
  padding: 25px;
}


.job-header h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.job-header h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: 60%;
  font-weight: 400;
  font-size: .9rem;
}

.job-header h4 {
  font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-size: 0.9rem;
    
}



.job-info p {
  font-weight: 400;
  font-size: 1rem;
}

.inactive-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  color: white;
  box-shadow: 0px 1px 7px #00000030;
}

.inactive-cell h2{
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.inactive-cell h4{
  font-weight: 200;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 4px;
}

#inactive-nutmeg {
  background-image: url("./assets/uconn-bg.jpg");
  background-position: bottom;
}

#inactive-freelance {
  background-image: url("./assets/desk-bg.jpg");
  background-position: center;
  
}

#inactive-dxg {
  background-image: url("./assets/dx-bg.jpeg");
  background-repeat: no-repeat;
  background-position: bottom;
  
}

#active-dxg .job-header-bg {
  background-image: url("./assets/dx-bg.jpeg");
  background-position: bottom;
}

#active-nutmeg .job-header-bg {
  background-image: url("./assets/uconn-bg.jpg");
  color: white;
  background-position: center;
  background-size: 100%;
}

#active-freelance .job-header-bg {
  background-image: url("./assets/desk-bg.jpg");
  color: white;
  background-position-y: 64%;
  background-size: 100%;
}



.job-info {
  padding: 25px;
}

.job-info h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}


.primary-grid {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  transition: 2s;

}

.left-grid {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  transition: 2s;
}

.right-grid {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  transition: 2s;
}

@media screen and (max-width: 850px){ 
  .job-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  
  .primary-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  
  }
  
  .left-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .right-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .job-container {
    padding: 25px;
  }
}



/* Project Section */
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  flex-direction: column;
}

.projects-grid {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  gap: 15px;


}

.project-cell {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 1px 7px #00000030;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-cell:hover {
  transition: 0.5s;
  border-radius: 0px;
}

.project-info {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white
}

.project-info h2 {
  transform: translateY(-200px);
  margin-bottom: 10px;;
}

.project-info a {
  transform: translateY(200px);
}

.project-info:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 100%;
  transition: 1s;
}

.project-info:hover > h2{
  transform: translateY(0px);
  transition: 1s;
}

.project-info:hover > a{
  transform: translateY(0px);
  transition: 1s;
}

#miracles-project {
  background-color: white;
  background-image: url("./assets/miracles-logo.png");
  background-size: 85%;
}

#connect-four-project {
  background-image: url('./assets/background.png');
}

#space-project {
  background-image: url('./assets/space-bg.png');
}

#ctnerr-project {
  background-color: rgb(192, 255, 195);
  background-image: url("./assets/CTNERR-logo_digital-circle-color.png");
  background-size: 85%;
}

#core-project {
  background-color: #d9363e;
  background-image: url("./assets/core-bg.png");
  background-size: 90%;
}

#floe-project {
  background-color: #3A57A6;
  background-image: url("./assets/floe-logo.png");
  background-size: 80%;
}

#turfgrass-project {
  background-color: #47b8ff;
  background-image: url("./assets/turfgrass-logo.png");
  background-size: 90%;
}

#pr-archive-project {
  background-color: #000E2F;
  background-image: url("./assets/uconn-logo.png");
  background-size: 85%;
}

#crosshairs-project {
  background-color: black;
  background-image: url("./assets/crosshairs-logo.png");
  background-size: 100%;
}

#frontend-mentor-project {
  background-color: white;
  background-image: url("./assets/frontend-logo.svg");
  background-size: 90%;
}

#mensah-logo {
  background-color: white;
  background-image: url("./assets/mensah-logo.png");
  background-size: 90%;;
}

#tr-logo {
  background-color: #d9363e;
  background-image: url("./assets/tr-logo.png");
  background-size: 75%;;
}

#hk-logo {
  background-color: #dfdfdf;
  background-image: url("./assets/hk-full-logo.png");
  background-size: 60%;;
}

#greenwood-logo {
  background-color: #c32424;
  background-image: url("./assets/greenwood-logo.png");
  background-size: 90%;;
}

#fbf-logo {
  background-color: #000000;
  background-image: url("./assets/fbf-black.png");
  background-size: 80%;;
}

#top-5 {
  background-image: url("./assets/top-5-post.png");
  background-size: 100%;;
}

#kicking-camp {
  background-image: url("./assets/kicking-camp.png");
}

#nutmeg-spreads {
  background-color: powderblue;
  background-size: 60%;;
  background-image: url("./assets/nutmeg-logo.png");

}


#plant-drawing {
  background-image: url("./assets/plant-drawing.jpeg");
  background-size: 140%;
}

#zebra-drawing {
  background-image: url("./assets/zebra-drawing.jpeg");
  background-size: 140%;
}

#paper-drawing {
  background-image: url("./assets/paper-drawing.jpeg");
  background-size: 110%;
}

#striped-paper-drawing {
  background-image: url("./assets/striped-paper-drawing.jpeg");
  background-size: 140%;
}

#shading-drawing {
  background-image: url("./assets/shading-drawing.jpeg");
  background-size: 140%;
}

#farming-drawing {
  background-image: url("./assets/farming-drawing.jpeg");
  background-size: 140%;
}

/* Project Description Modal */
#job-description-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.461);
  top: 0;
  left: 0;
  padding: 50px;
  overflow: scroll;
}

.job-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-description {
  width: 100%;
  height: auto;
  max-width: 1350px;
  display: flex;
  overflow: hidden;
  background: white;
  border-radius: 25px;
}

.left-side {
  width: 40%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-side {
  width: 60%;
  height: 100%;
  padding: 25px;
  overflow: scroll;
  position: relative;
}



.job-description h2 {
  font-size: 3rem;
  font-weight: 600;
}

.job-description h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: 60%;
  font-weight: 400;
  font-size: .9rem;
}

.job-description h4 {
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.job-description h4 span {
  margin-right: 15px;
}

.job-description p {
  font-weight: 300;
  font-size: 0.85rem;
}




#connect-four-description .left-side {
  background-image: url("./assets/connect-four-bg.png");
  background-position: center;
}

#connect-four-description .left-side img {
  width: 90%;
}

#miracles-description h2 {
  font-size: 2rem;
}

#miracles-description .left-side {
  background-image: url("./assets/miracles-bg.png");
  background-position: left
}

#miracles-description .left-side img {
  width: 90%;
}


.project-close-btn {
  position: absolute;
  right: 15px;
  top: 7px;
  font-size: 2rem!important;
  font-weight: 600!important;
  color: dimgray;
}

.project-close-btn:hover {
  cursor: pointer;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}

.purple {
  color: blueviolet;
}


/* Art Full Size View Container */
.art-view-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;  
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 100px;
  z-index: 46;
}

#art-view-close-btn {
  position: absolute;
  font-size:3rem;
  color: white;
  top: 25px;
  right: 35px;
  font-weight: 600;
}

#art-view-close-btn:hover {
  cursor: pointer;
}

.landscape-view {
  height: 80vh;
  width: auto;
  background: none;
}

.portrait-view {
  height: 90vh;
  width: auto;
}

@media screen and (max-width: 992px)  {
  .job-description {
    flex-direction: column;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.flex-row {
  display: flex;
}





.loading-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(41, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  top: 0;
  left: 0;
  display: none;
}

.face {
  height: 300px;
  width: auto
}

.social-media-container {
  display: flex;
}

.social-media-container img {
  height: 45px;
  width: auto;
  margin-right: 15px;
  margin-top: 15px;
  padding: 5px;
}

.social-media-container img:hover {
  padding: 0px
}

.loading-content {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circle-one {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 3px solid rgb(0, 169, 169);
  border-top: 3px solid rgb(152, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;
}

.display-none {
  display: none;
}

/*

.snow {
  position: absolute;
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  background-color: #3854A5;
}

.snow-ball {

  border-radius: 50%;
  background-color: white;
  /* animation: fall 5s linear infinite; */
/* position: absolute;
  top: 0;
  right: 590px
}

@keyframes fall {
  0% {

  }


  100% {
    opacity: 0%;
    transform: translateY(450px);
  }
}

*/





@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 


@media screen and (max-width: 700px)  {
  .projects-grid {
    grid-template-columns: 2fr;
  }

  .introduction {
    flex-direction: column;
  }

  .face-img {
    display: none;
  }

  .job-container {
    display: none;
  }

}

@media screen and (max-width: 1000px)  {
  .projects-grid {
    grid-template-columns: 3fr;
  }

}

@media screen and (max-width: 875px)  {
  .face-img {
    height: 50vh;
    width: auto;
  }

}

@media screen and (max-width: 550px)  {
  .projects-grid {
    grid-template-columns: 1fr;
  }

}